## Imports

Import any additional libraries you may need here.

In [1]:
from bs4 import BeautifulSoup
import html5lib
import requests
import pandas as pd

## Extract Data Using Web Scraping

The wikipedia webpage [https://en.wikipedia.org/wiki/List_of_largest_banks](https://en.wikipedia.org/wiki/List_of_largest_banks?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) provides information about largest banks in the world by various parameters. Scrape the data from the table 'By market capitalization' and store it in a JSON file.

### Scraping the Data

<b> Question 2</b> Using the contents and `beautiful soup` load the data from the `By market capitalization` table into a `pandas` dataframe. The dataframe should have the bank `Name` and `Market Cap (US$ Billion)` as column names.  Display the first five rows using head.

Using BeautifulSoup parse the contents of the webpage.

In [4]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_banks'
html_data = requests.get(url).text

soup = BeautifulSoup(html_data, 'html.parser')
tabele = soup.find_all('table')

Load the data from the `By market capitalization` table into a pandas dataframe. The dataframe should have the bank `Name` and `Market Cap (US$ Billion)` as column names. Using the empty dataframe `data` and the given loop extract the necessary data from each row and append it to the empty dataframe.

In [5]:
dataframe = pd.DataFrame(columns=['Name', 'Market Cap (US$ Billion)'])


for row in tabele[3].tbody.find_all('tr'):
    column = row.find_all('td')
    
    if column != []:
        name = column[1].text.rstrip()
        cap = column[2].text.rstrip()
        dataframe = dataframe.append({'Name': name, 'Market Cap (US$ Billion)': cap}, ignore_index=True)

**Question 3** Display the first five rows using the `head` function.

In [6]:
#Write your code here
dataframe.head()

                                       Name Market Cap (US$ Billion)
0                            JPMorgan Chase                400.37[6]
1   Industrial and Commercial Bank of China                   295.65
2                           Bank of America                   279.73
3                               Wells Fargo                   214.34
4                   China Construction Bank                   207.98

### Loading the Data

Usually you will Load the `pandas` dataframe created above into a JSON named `bank_market_cap.json` using the `to_json()` function, but this time the data will be sent to another team who will split the data file into two files and inspect it. If you save the data it will interfere with the next part of the assignment.

In [7]:
#Write your code here
dataframe.to_json()

'{"Name":{"0":" JPMorgan Chase","1":" Industrial and Commercial Bank of China","2":" Bank of America","3":" Wells Fargo","4":" China Construction Bank","5":" Agricultural Bank of China","6":" HSBC Holdings PLC","7":" Citigroup Inc.","8":" Bank of China","9":" China Merchants Bank","10":" Royal Bank of Canada","11":" Toronto-Dominion Bank","12":" HDFC Bank","13":" Commonwealth Bank","14":" U.S. Bancorp","15":" Goldman Sachs","16":" Banco Santander","17":" Banco Bradesco","18":" Morgan Stanley","19":" Westpac","20":" Mitsubishi UFJ Financial Group","21":" Scotiabank","22":" PNC Financial Services","23":" Bank of Communications","24":" BNP Paribas","25":" Australia and New Zealand Banking Group","26":" National Australia Bank","27":" Lloyds Banking Group","28":" Sumitomo Mitsui Financial Group","29":" Bank of Montreal","30":" UBS","31":" ING Group","32":" Capital One","33":" The Bank of New York Mellon","34":" China Minsheng Bank","35":" China CITIC Bank","36":" Banco Bilbao Vizcaya Argentaria","37":" Mizuho Financial Group","38":" Intesa Sanpaolo","39":" Cr\\u00e9dit Agricole","40":" Canadian Imperial Bank of Commerce","41":" Royal Bank of Scotland","42":" Barclays","43":" Credit Suisse","44":" Nordea","45":" Standard Chartered","46":" KBC Bank","47":" UniCredit","48":" Soci\\u00e9t\\u00e9 G\\u00e9n\\u00e9rale","49":" Deutsche Bank"},"Market Cap (US$ Billion)":{"0":"400.37[6]","1":"295.65","2":"279.73","3":"214.34","4":"207.98","5":"181.49","6":"169.47","7":"163.58","8":"151.15","9":"133.37","10":"113.80","11":"106.61","12":"105.9","13":"99.77","14":"84.40","15":"78.70","16":"75.47","17":"74.67","18":"73.93","19":"67.84","20":"66.20","21":"65.48","22":"63.11","23":"61.85","24":"59.36","25":"54.88","26":"51.68","27":"51.19","28":"49.85","29":"48.12","30":"45.92","31":"44.97","32":"43.22","33":"42.58","34":"39.13","35":"38.55","36":"37.42","37":"36.95","38":"36.90","39":"34.89","40":"34.87","41":"33.95","42":"33.26","43":"30.75","44":"29.59","45":"29.37","46":"27.40","47":"26.88","48":"21.27","49":"15.77"}}'